@font-face {
  font-family: Poppins;
  src: url(../src/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Jomhuria;
  src: url(../src/assets/fonts/Jomhuria-Regular.ttf);
}

@font-face {
  font-family: Aguafina;
  src: url(../src/assets/fonts/AguafinaScript-Regular.ttf);
}

@font-face {
  font-family: Kapakana;
  src: url(../src/assets/fonts/Kapakana-VariableFont_wght.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../src/assets/fonts/Inter-VariableFont_opsz\wght.ttf);
}

@font-face {
  font-family: Koulen;
  src: url(../src/assets/fonts/Koulen-Regular.ttf);
}

@import "tailwindcss";

@theme {
  --font-poppins: Poppins, "sans-serif";
  --font-jomhuria: Jomhuria, "sans-serif";
  --font-aguafina: Aguafina, "sans-serif";
  --font-kapakana: Kapakana, "sans-serif";
  --font-inter: Inter, "sans-serif";
  --font-koulen: Koulen, "sans-serif";
}
